<ion-header class="ion-no-border">
    <ion-toolbar style="color:#F0F0F0;">
        <ion-buttons slot="start">
            <ion-button (click)="goback()">
                <ion-icon name="close-circle" class="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img style="width: 100%" src="{{trip?.image}}"></ion-img>
    <div style="padding: 3%">

        <div style="margin-bottom: 2%">
            <ion-text style="font:Bold 25px OpenSans-Bold;color: #3D3D3D;">{{trip?.name}}</ion-text>
        </div>

        <ion-text style="font:normal 15px OpenSans-Regular;color: #3D3D3D;">
            {{trip?.description}}
        </ion-text>

        <div style="margin-top: 5%">
            <ion-text style="font: normal 500 20px OpenSans-Regular;color: #3D3D3D;">About your visit:</ion-text>

            <ion-grid style="width:100%;margin-top: 2%">
                <ion-row style="position: center">
                    <ion-col>Date</ion-col>
                    <ion-col>Time</ion-col>
                </ion-row>
                <ion-row style="text-align:center">
                    <ion-col class="downCol">{{trip?.date}}</ion-col>
                    <ion-col class="downCol">{{trip?.time}}</ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid style="width:100%;margin-top: 2%">
                <ion-row>
                    <ion-col>Status</ion-col>
                    <ion-col>Participants</ion-col>
                </ion-row>
                <ion-row style="text-align:center">
                    <ion-col class="downCol">{{trip?.status}}</ion-col>
                    <ion-col class="downCol">{{trip?.participants}}</ion-col>
                </ion-row>
            </ion-grid>

        </div>

        <br>
        <ion-text style="font: normal 500 20px OpenSans-Regular;color: #3D3D3D;">
            Location: {{trip?.location}}
        </ion-text>

        <div style="margin-top: 5%">
            <ion-text style="font: normal 500 20px OpenSans-Regular;color: #3D3D3D;">Your Buddy</ion-text>
        </div>

        <ion-item lines="none">
            <ion-avatar style="width: 50px;height: 50px" slot="start">
                <img src="{{this.userImage}}">
            </ion-avatar>
            <ion-label style="color: #3D3D3D;padding: 2%">
                <h3 style="font: normal 600 18px OpenSans-Regular;">{{this.userName}}<span
                        style="font: normal 18px OpenSans-Regular;"> {{this.userRating}}</span>
                    <ion-icon style="color: #FEAA00" name="star"></ion-icon>
                </h3>
                <p style="font: normal 14px OpenSans-Regular">{{this.userDescription}}</p>
            </ion-label>
            <ion-button fill="outline" color="warning" style="text-transform: none;border-radius: 10px"
                        routerLink="/chat/{{this.userId}}">
                <span style="color: #2b2b2b;font:normal 10px OpenSans-Regular">Send Message</span>
            </ion-button>
        </ion-item>
    </div>
</ion-content>
