<ion-header class="ion-no-border">
    <ion-toolbar style="color:#F0F0F0;">
        <ion-buttons slot="start">
            <ion-button (click)="goback()">
                <ion-icon name="close-circle" class="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img style="width: 100%" src="{{trip?.image}}"></ion-img>
    <div style="padding: 3%">

        <div style="margin-bottom: 2%">
            <ion-text style="font:Bold 25px 'Open Sans';color: #3D3D3D;">{{trip?.name}}</ion-text>
        </div>

        <ion-text style="font:normal 15px 'Open Sans';color: #3D3D3D;">
            {{trip?.description}}
        </ion-text>

        <div style="margin-top: 5%">
            <ion-text style="font: normal 500 20px Open Sans;color: #3D3D3D;">About this visit:</ion-text>

            <ion-grid style="width:100%;margin-top: 2%">
                <ion-row style="position: center">
                    <ion-col>Duration</ion-col>
                    <ion-col>Group size</ion-col>
                </ion-row>
                <ion-row style="text-align:center">
                    <ion-col class="downCol">{{trip?.time}}</ion-col>
                    <ion-col class="downCol">{{trip?.size}}</ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid style="width:100%;margin-top: 2%">
                <ion-row>
                    <ion-col>Buddy speaks</ion-col>
                    <ion-col>Includes</ion-col>
                </ion-row>
                <ion-row style="text-align:center">
                    <ion-col class="downCol">English, Portuguese, Spanish</ion-col>
                    <ion-col class="downCol">{{trip?.details}}</ion-col>
                </ion-row>
            </ion-grid>

        </div>

        <div style="margin-top: 5%">
            <ion-text style="font: normal 500 20px Open Sans;color: #3D3D3D;">Your Buddy</ion-text>
        </div>

        <span class="a">
          <ion-avatar>
          <img src="/assets/mockprofile.jpg">
          </ion-avatar>
      </span>
        <span class="a">
       <ion-text style="font: normal 600 22px Open Sans;color: #3D3D3D;padding: 2%">Ana</ion-text>
    </span>


    </div>
</ion-content>

<ion-footer>
    <ion-toolbar class="footerBar">
        <ion-title class="footerText" style="font:bold 15px 'Open Sans';color: #3D3D3D;">From
            <span style="margin-right: 2%;margin-left: 2%;font:bold 20px 'Open Sans';color: #3D3D3D;">{{trip?.price}}</span>
            per person
        </ion-title>
        <ion-buttons slot="end">
            <ion-button style="background-color: #FEAA00;border-radius: 24px;width: 165px;height: 40px;" (click)="openPlanVisitPage()">
                <span style="font:bold 20px 'Open Sans';color: #ffffff;text-transform:none;">Book Now</span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
