.container {
  display: flex;
  &__image {
    margin-left: 19px;
    margin-top: 5px;
    width: 25%;
    height: 25%;
    overflow: hidden;
    float: left;
  }
  &__text {
    margin-top: 2%;
    margin-left: 10%;
    display: inline;
  }
}

.belllogo {
  color: #2b2b2b;
  opacity: 0.9;
  width: 27px;
  height: 27px;
}

.topTrip {
  width: 100%;
  height: 140px;
}

.topTrip::after {
  content: "";
  background-image: url(../../assets/toptripbackground.jpg);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 165px;
  z-index: -1;
  position: absolute;
}

.top-slide{
  width: 33.33%;
  height: 100px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 10px;
}

.topTrip-header{
  font: normal normal normal 25px OpenSans-Bold;
  letter-spacing: 1.36px;
  color: #3D3D3D;
}

.visitsNear-header{
  font: normal normal normal 23px OpenSans-Bold;
  letter-spacing: 1.36px;
  color: #3D3D3D;
}

ion-card{
  height: 300px;
  border-radius: 8px;
  margin: 5px 5px 15px;
  position: relative;
  text-align: left;
}

ion-img{
  height: 150px;
  object-fit: cover;
}

ion-label{
  font:  normal 500 14px OpenSans-Regular;
  color: #3D3D3D;
}

ion-icon{
  color: #FEAA00;
  opacity: 0.8;
}

ion-chip{
  width: 30%;
  right: 5px;
}

.price-tag{
  font:  bold 18px OpenSans-Bold;
  color: #474440;
  line-height: 0px;
}

.myOverlay{
  text-align: center;
  width: auto;
  padding-right: 10px;
  padding-left: 10px;
  height: auto;
  position: absolute;
  z-index: 99;
  top: 100px;
  right: 10px;
  opacity: 1;
  background: #ffffff;
  border-radius: 10px;
}

.labelHeader{
  font:  bold 18px OpenSans-Bold;
  color: #3D3D3D;
}
